<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<mikielis_logreader>
			<functional>
				<enable>0</enable>
				<limit>50</limit>
			</functional>
		</mikielis_logreader>
	</default>
</config>